<!DOCTYPE html>
<html>
<head>
  <title>CommentCloudApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<script src="http://connect.soundcloud.com/sdk.js"></script>
</head>
<body>
  <header><h1>CommentCloud</h1></header>
  <div id='container'>
    <div id='track'></div>
    <nav id='embedder'>
    <li><h1 class='back'>Back</h1></li>
    <li><h1 class='start'>Play</h1></li>
    <li><h1 class='next'>Next</h1></li>
    </nav>
    <div id='comments'>
      <section id='section0'></section>
      <section id='section1'></section>
      <section id='section2'></section>
    </div>
  </div>
</body>
</html>
